<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./src/css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/src/highlight/styles/monokai-sublime2.css">
	<link rel="stylesheet" type="text/css" href="./src/css/styles.css">
	<title>Cathy P</title>
</head>
<body>
	<!-- 繪圖板 -->
	<div id="drawBoard" v-show="isOpen">
		<draw-board></draw-board>
	</div>

	<!-- 最上面的header -->
	<div class="header">
		<h1 class="title">{{title}}</h1>
		<div class="menuBtn" v-on:click="clickMenuIcon">
			<img v-bind:src="icon.menu" />
		</div>
		<ul class="menu" v-if="!mobile || open">
			<li v-for="(item, index) in menu" v-bind:class="{current: current == index}" v-on:click="getPostList()">{{item}}</li>
			<li class="drawBtn" v-html="icon.brush" v-on:click="clickBrushIcon()"></li>
			<input type="text" name="">
			<button>
				<i class="fa fa-search"></i>
			</button>
		</ul>
	</div>

	<!-- 內容 -->
	<div class="container">
		<div v-if="!post" class="postList">
			<li class="post" v-for="post in list" v-on:click="clickPost(post.id)">
				<span class="time">{{post.datetime}}</span>
				<span class="listTitle">{{post.name}}</span>
			</li>
		</div>
		<div v-show="post" v-html="post" class="apost"></div>
	</div>

	<!-- 左下角的繪圖選單 -->
	<ul class="drawCtrl" v-bind:style="index">
		<!-- brush icon -->
		<li v-html="brush.html" v-bind:class="brush.class" v-on:click="brush.onclick"></li>
		<!-- 調色盤 -->
		<li>
			<input type="color" v-bind:class="color.class" v-model="model">
			<img v-bind:src="color.img.src" v-bind:class="color.img.class" >
		</li>
		<!-- 清除畫板 -->
		<li v-bind:class="clear.class" v-on:click="clear.onclick">{{clear.text}}</li>
	</ul>

	<div class="footer" v-html="auth"></div>

<script src="/src/highlight/highlight.pack.js"></script>
<!-- <script src="./src/js/script.js"></script> -->
<script src="https://unpkg.com/vue"></script>
<script src="./src/js/script2.js"></script>
<!-- <script>hljs.initHighlightingOnLoad();</script> -->
</body>
</html>