@import url('https://fonts.googleapis.com/css?family=Inconsolata')
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Muli');

primary= #61a3a3
primaryLight= #a9d6d6
secondary= #ef5d40

*
	box-sizing: border-box
	
a
	text-decoration: none
	
html
	// display: relative
	height: 100%

body
	position: relative
	min-height: 100%
	font-family: 'Muli', '微軟正黑體', sans-serif;
	// font-family: 'Open Sans', '微軟正黑體', 'sans-serif'
	overflow-y: scroll
	overflow-x: hidden;
	// background-color: #fff

h1
	font-size: 1.7em
	margin-top: 25px
	margin-bottom: 25px
	font-weight: 500
	
h2
	font-size: 1.3em
	margin-top: 15px
	margin-bottom: 15px
	font-weight: 500
	
h3
	font-size: 1em
	font-weight: 600
	margin-bottom: 0.2em
	color: #333

p
	margin-bottom: 2em
	// z-index: 100
	
.small
	margin-bottom: 0.8em
	
pre
	margin-bottom: 2em
		
blockquote
	margin-bottom: 2em
	border-left: 5px primaryLight solid
	padding-left: 20px

code
	font-family: 'Inconsolata', monospace

pre
	code
		display: inline-block
		padding: 1.5em
		width: 100%
		border-radius: 8px
		
.hljs
	padding: 1em
		
ul.circle
	padding-left: 1.5em
	li
		&:before
			content: ""
			display: block
			width: 0.4em
			height: 0.4em
			position: absolute
			transform: translateY(0.7em) translateX(-1em)
			background-color: primary
			border-radius: 50%
		
.highLight
	color: secondary
		
.hidden
	display: none
	
.primary
	color: primary
	
#draw
	position: absolute
	top: 0
	left: 0
	z-index: 1
	margin: 0px
	
.header
	position: relative
	display: flex
	padding-top: 15px
	padding-bottom: 15px
	border-bottom: 1px #eee solid
	z-index: 2
	font-family: 'Open Sans', '微軟正黑體', 'sans-serif'

.title
	font-size: 1.5em
	position: relative
	margin: 20px
	margin-left: 60px
	letter-spacing: 0.15em
	
.menuBar
	position: absolute
	margin-top: 17px
	right: 50px
	
	li
		float: left
		margin-top: 10px
		margin-right: 20px
		color: #999
		cursor: pointer
		
	li:hover
		transition: color 0.2s
		color: #8bbaba
		
		svg:hover
			transition: color 0.2s
			fill: rgb(139, 186, 186)
		
	.current
		color: #444
		
	.icon
		position: relative
		top: -2px
		width: 18px
		height: 18px
		
	input
		float: left
		margin-right: 0
		margin-top: 5px
		padding-left: 7px
		padding-right: 7px
		width: 80px
		height: 25px
		border: 1px #ddd solid
		border-right: 0px
		color: #999
		
	input:focus
		outline: none
		
	button
		margin-top: 5px
		width: 25px
		height: 25px
		padding: 4px
		background-color: primaryLight
		// background-color: #ccc
		text-decoration: none
		border: 0px
		
	.fa
		color: #fff
		
	img
		width: 100%
		
	button:focus
		outline: none	
		
.drawCtrl
	position: fixed
	left: 20px
	bottom: 0
	bottom: -84px
	transition: all 0.5s
	padding-bottom: 10px
	z-index: 2
	text-align: center
	background-color: #fff
	border: 1px #bbb dotted
	
	li
		cursor: pointer
		margin: 10px
		margin-top: 20px
		
		.icon
			height: 22px
			width: 22px
			
		.colorInput
			cursor: pointer
			height: 22px
			width: 22px
			position: absolute
			opacity: 0

.container
	max-width: 630px
	margin: 0 auto
	margin-top: 0
	padding: 20px
	border-radius: 3px
	line-height: 1.8em
	padding-bottom: 100px
	// text-align: center
		
	h1
		letter-spacing: 0.1em

	img
		width: 100%
		
	.postList
		// text-align: center
		margin-top: 20px
		padding-left: 90px
		font-size: 1.2em
		
		li
			cursor: pointer
			margin-bottom: 20px
			color: #333
			
			.time
				display: inline-block
				margin-right: 10px
				font-size: 0.8em
				// color: #8bbaba
			
			.listTitle
				display: inline-block
				margin: 0 auto
				
			&:hover
				transition: color 0.2s
				color: primary
		
.footer
	position: absolute
	bottom: 0
	width: 100%
	margin-bottom: 20px
	text-align: center
	font-size: 0.7em
	
	a
		color: #444